* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(171, 66%, 44%);
    color: hsl(233, 100%, 69%);
    color: hsl(210, 10%, 33%);
    color: hsl(201, 11%, 66%);
}

.container {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    text-align: center;
    margin-bottom: 16px;
    margin-top: 32px;
    font-size: 26px;
}

p {
    text-align: center;
    color: hsl(201, 11%, 66%);
    line-height: 24px;
}

/* HEADER */

header h1 {
    text-align: center;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    margin-bottom: 16px;
}

header h2 {
    margin-top: 120px;
}

header img {
    margin-top: 100px;
    margin-bottom: 70px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    width: 310px;
    height: 60px;
    font-size: 22px;
    margin-top: 24px;
    border-radius: 30px;
    border: none;
    color: #fff;
}

.btn:focus {
    outline: none;
}

.btn-primary {
    background-color: hsl(233, 100%, 69%);
}

.btn-secondary {
    background-color: hsl(171, 66%, 44%);
}

/* Services */

.services img {
    width: 90%;
}

/* acess*/

.acess img {
    width: 90%;
    margin-top: 60px;
}

/* workflow */

.workflow img {
    margin: 24px;
    margin-top: 38px;
}

.card {
    text-align: center;
}

/* Empresas */

.empresas img {
    margin: 28px;
}

/* footer */

.footer-logo {
    width: 60px;
    height: 60px;
}

.social {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 320px;
    margin-top: 16px;
}

.social a {
    display: block;
}

.social img {
    width: 25px;
    height: 25px;
}

.faq, .privacy, .install {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
}

#principal li, #principal li a {
    list-style: none;
    text-decoration: none;
    color: hsl(210, 10%, 33%);
    padding: 12px;
    text-align: center;
}

/**/

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width:688px) {
    .buttons {
        flex-direction: row;
    }
    .btn{

        margin-right: 6px;
        margin-left: 6px;
    }
    /*SERVICES*/
    .services .container{
        flex-direction: row;
    }
    .services img{
        width: 60%;
    }
    .services-info{
        margin-left: 20px;
    }
    .services-info p, .services-info h2{
        text-align: left;
    }
    .services-info p {
        font-size: 12px;
    }
    .services-info h2{
        font-size: 22px;
    }

    /*WORKFLOW*/
    .workflow-card{
        display: flex;
        flex-direction: row;
    }
    .card{
        flex: 1;
        margin-top: 12px;
    }

    /*EMPRESAS*/

    .empresas .container{
        flex-direction: row;
    }
    .empresas img{
        margin: 6px;
        max-width: 20%;
    }
}