* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(171, 66%, 44%);
    color: hsl(233, 100%, 69%);
    color: hsl(210, 10%, 33%);
    color: hsl(201, 11%, 66%);
}

.container {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    text-align: center;
    margin-bottom: 16px;
    margin-top: 32px;
    font-size: 26px;
}
p {
    text-align: center;
    color: hsl(201, 11%, 66%);
    line-height: 24px;
}

/* HEADER */


header h1 {
    text-align: center;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    margin-bottom: 16px;
}

header h2 {
    margin-top: 120px;
}

header img {
    margin-top: 100px;
    margin-bottom: 70px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    width: 310px;
    height: 60px;
    font-size: 22px;
    margin-top: 24px;
    border-radius: 30px;
    border: none;
    color: #fff;
}

.btn:focus {
    outline: none;
}

.btn-primary {
    background-color: hsl(233, 100%, 69%);
}

.btn-secondary {
    background-color: hsl(171, 66%, 44%);
}

/* Services */

.services img {
    width: 90%;
}

/* acess*/

.acess img {
    width: 90%;
    margin-top: 60px;
}

/* workflow */
.workflow img{
    margin: 24px;
    margin-top: 38px;
}
/**/

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}